body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?rw7eje');
  src:  url('../fonts/icomoon.eot?rw7eje#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rw7eje') format('truetype'),
    url('../fonts/icomoon.woff?rw7eje') format('woff'),
    url('../fonts/icomoon.svg?rw7eje#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}

.burger-menu {
  display: none;
  font-size: 1.5em;
  padding: .2em;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 10px;
  color: white;
  cursor: pointer;
}

.logo {
  margin: 0;
  height: 80px;
}

.header {
  background-color: black;
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: wrap;
}

.container {
  /* border: 1px solid red; */
  max-width: 100%;
  /* width: 100%; */
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header a {
  color: white;
  text-decoration: none;
}

.menu {
  height: inherit;
}

.header ul {
  display: flex;
  height: inherit;
}

.header ul li {
  height: inherit;
}

.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}