body {
  margin: 0;
  padding: 0;
  font-family: 'Mina', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0.5em 0.5em;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?rw7eje');
  src:  url('../fonts/icomoon.eot?rw7eje#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rw7eje') format('truetype'),
    url('../fonts/icomoon.woff?rw7eje') format('woff'),
    url('../fonts/icomoon.svg?rw7eje#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}

.burger-menu {
  display: none;
  font-size: 1.5em;
  padding: .2em;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 10px;
  color: white;
  cursor: pointer;
}

.logo {
  margin: 0;
  height: 80px;
}

.logo img {
  width: 150px;
  height: 80px;
}

.header {
  background: black;
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: wrap;
}

.container {
  /*border: 1px solid red;*/ 
  /*max-width: 100%;*/
  width: 100%; 
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header a {
  color: white;
  text-decoration: none;
}

.menu {
  height: inherit;
}

.header ul {
  display: flex;
  height: inherit;
}

.header ul li {
  height: inherit;
}

.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

.header .link {
  transition: .5s;
}

.header .link:hover {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.hero {
  margin: 0;
  width: 100%;
  height: auto;
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.hero .hero-title {
  width: 50%;
  height: inherit;
  margin: 0;
  color: white;
  text-align: center;
  line-height: 3em;
}

.hero-title h1{
  font-size: 1em;
  line-height: 2em;
  text-transform: capitalize;
}

.hero-title h1 strong.hello{
  color: black;
  text-transform: uppercase;
}

.hero .hero-right {
  width: 50%;
  height: inherit;
  margin: 0;
}

.hero-img-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: inherit;
}

.hero-img-container .hero-img {
  width: 100%;
  height: inherit;
}

/* Desktop First */
@media screen and (min-width: 769px) and (max-width: 1024px){
  
}

@media screen and (min-width: 481px) and (max-width: 768px){
  .burger-menu {
    display: block;
  }

  .header {
    display: block;
    height: 80px;
  }

  .header a {
    display: block;
    height: auto;
    text-align: center;
    padding: 1em 0;
  }

  .header ul {
    display: block;
    height: auto;
  }

  .container {
    display: block;
    background: transparent;
  }

  .logo {
    /*margin-left: 3.7em;*/
    text-align: center;
  }

  .logo img {
    width: 150px;
    height: 80px;
  }

  .menu {
    background: rgba(0, 0, 0, .9);
    position: relative;
    top: 0;
    left: -33vw;
    z-index: 2;
    width: 33%;
    height: auto;
    transition: .3s;
  }

  .menu.is-active {
    left: 0;
  }

  .header .link:hover {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  .hero {
    font-size: 24px;
  }

  .hero, .hero-title, .hero-right {
    display: block;
  }

  .hero .hero-title, .hero .hero-right {
    width: 100%;
    margin: 0;
  }

  .hero-title h1 {
    font-size: 1em;
    line-height: 2em;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px){
  .burger-menu {
    display: block;
  }

  .header {
    display: block;
    height: 80px;
  }

  .header a {
    display: block;
    height: auto;
    text-align: center;
    padding: 1em 0;
  }

  .header ul {
    display: block;
    height: auto;
  }

  .container {
    display: block;
    background: transparent;
  }

  .logo {
    /*margin-left: 3.7em;*/
    text-align: center;
  }

  .logo img {
    width: 140px;
    height: 80px;
  }

  .menu {
    background: rgba(0, 0, 0, .9);
    position: relative;
    top: 0;
    left: -100vw;
    z-index: 2;
    width: 100vw;
    height: auto;
    transition: .3s;
  }

  .menu.is-active {
    left: 0;
  }

  .header .link:hover {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  .hero {
    font-size: 24px;
  }

  .hero, .hero-title, .hero-right {
    display: block;
  }

  .hero .hero-title, .hero .hero-right {
    width: 100%;
    margin: 0;
  }

  .hero-title h1 {
    font-size: 1em;
    line-height: 1.8em;
  }
}

@media screen and (max-width: 320px){
  .burger-menu {
    display: block;
  }

  .header {
    display: block;
    height: 80px;
  }

  .header a {
    display: block;
    height: auto;
    text-align: center;
    padding: 1em 0;
  }

  .header ul {
    display: block;
    height: auto;
  }

  .container {
    display: block;
    background: transparent;
  }

  .logo {
    /*margin-left: 3.7em;*/
    text-align: center;
  }

  .logo img {
    width: 130px;
    height: 80px;
  }

  .menu {
    background: rgba(0, 0, 0, .9);
    position: relative;
    top: 0;
    left: -100vw;
    z-index: 2;
    width: 100vw;
    height: auto;
    transition: .3s;
  }

  .menu.is-active {
    left: 0;
  }

  .header .link:hover {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  .hero {
    font-size: 24px;
  }

  .hero, .hero-title, .hero-right {
    display: block;
  }

  .hero .hero-title, .hero .hero-right {
    width: 100%;
    margin: 0;
  }

  .hero-title h1 {
    font-size: 1em;
    line-height: 1.8em;
  }
}