/* Eliminamos los estilos por defecto que agrega el navegador y evitamos el scroll horizontal */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Para dejar de usar px y usar siempre rem para las fuentes. 1 rem serán 10px */
html {
  font-size: 62.5%;
}

body {
  background-color: #f1faee;
  color: #1d3557;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  line-height: 150%;
}

a,
p,
li {
  font-family: "Merriweather", serif;
  line-height: 150%;
}

ul {
  list-style: none;
}

ol {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.main__title {
  padding: 2rem;
  font-size: 3.2rem;
  text-align: center;
}

.main__title > a {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: underline;
}

.main__subtitle {
  padding: 2rem;
}

.ingredients {
  padding: 2rem;
}

.ingredient__category {
  font-size: 2rem;
  font-weight: bold;
}

.ingredient__container {
  margin: 1.5rem 0;
  padding: 1.5rem;
  background-color: #ffffff;
  border: 2px solid #1d3557;
  border-radius: 2.5rem;
}

.ingredient__container li {
  font-size: 1.2rem;
  margin: 0 1rem;
  text-align: center;
}
