body {
    font-family: 'Lato',sans-serif;
    margin: 0;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0.25rem 0.25rem;
}

h1 strong {
    color: #216C2A;
}

.header {
    background-color: rgb(17, 192, 40) ;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.hero {
    /*background-image: url('../img/heroImg.jpeg');
    background-size: 100% 400px;
    background-repeat: no-repeat;
    background-position: center;*/
    color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.hero-left, .hero-right {
    display: flex;
    align-items: center;
}

.hero-left h1 {
    margin: 1rem 1rem;
    padding: 2rem 2rem;
    font-size: 2rem;
}

.hero-right {
    margin: 1.5rem 1.5rem;
    padding: 25px 20px;
    border: solid 2px #216C2A;
}

.hero-imgContainer {
    margin: 0;
}

.hero-img {
    width: 400px;
    height: 400px;
}

.quote {
    background: dodgerblue;
    color: white;
    margin: 0;
    padding: 0.5rem 0.5rem;
}

.blockquote {
    color: black;
    font-size: 1.25rem;
    font-style: italic;
}

.quote-footer {
    color: white;
    padding: 0.5rem 0;
    font-weight: bold;
    font-style: oblique;
}

.calc {
    background-color: rgb(17, 192, 40);
    margin: 0;
    padding: 3rem 3rem;
}

.calc div {
    width: 80%;
    background-color: #fafafa;
    margin: 2rem auto;
    padding: 1rem 1rem;
    border: solid 1px black;
    border-radius: 5px;
}

.calc-input {
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    border: 1px solid black;
    border-radius: 3px;
}

.calc-btn {
    width: 8rem;
    height: 40px;
    background-color: #85bb65;
    margin: 0 0.5rem;
    padding: 0.5rem 0.5rem;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.calc-btn:hover {
    background-color: #6ba449;
    border: 1px solid black;
}

.calc-btn:focus {
    box-shadow: black;
}

.footer {
    padding: 1rem 1rem;
    font-weight: 500;
    background-color: black;
    color: white;
}