* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
}
nav h2 {
  padding: 1rem;
  font-size: 2.5rem;
}
.header nav {
  display: flex;
  background-color: khaki;
}
.menu {
  margin: 0 auto;
  text-align: right;
}
.menu li {
  margin: 1rem;
  font-size: 2rem;
  display: inline-block;
}
.main {
  width: 100%;
  height: calc(100vh - 174px);
  display: flex;
  background-color: burlywood;
}
.main aside {
  width: 30%;
  padding: 1rem;
  background-color: rgb(230, 143, 82);
}
.main aside article {
  height: 125px;
  margin: 1.5rem;
  background-color: lightcoral;
  border: 2px solid black;
  border-radius: 25px;
}
.main section {
  margin: 1rem;
  width: 100%;
}
.main section > p {
  font-size: 1.5rem;
}
.footer {
  padding: 3rem;
  font-size: 2rem;
  background-color: khaki;
  text-align: center;
}
